.mont {
	font-family:'Roboto';
	font-weight:100;
}

.logo {
	font-size:80%;
	position:relative;
	top:4px;
	display: inline !important;
}

.side-name {
	color:black;
}

.side-nav a {
	padding:0;
	height:48px;
	line-height:48px;
	border-bottom:1px solid #ddd;
}
.side-nav a:hover {
	background:#dcedc8;
}
.side-nav .material-icons {
	font-size:20px;
	display:inline;
	position:relative;
	top:4px;
	padding-right:5px;
}

img.profile {
	height:36px;
	border-radius:18px;
	position:relative;
	top:12px;
	margin-right:5px;
}

.collection-item {
	padding-left:15px !important;
}
.collection-amount {
	float:right;
	color:#888;
}

.advisor {
	float:left;
	margin:1em 0;
}
.go-to-chat {
	margin:1em 0;
	float:right;
}

.message-input {
	position:fixed;
	bottom:0px;
	left:1em;
	right:1em;
}
.messages {
	padding-top:1em;
	padding-bottom:3em;
}
.messages .chip {
	float:left;
	clear:both;
	width:auto;
	margin-bottom:.5em;
	transition-property:height;
	transition-duration:1s;
}
.messages .chip:last-child {
	margin-bottom:120px;
}
.messages .own {
	background:#eeffee;
	float:right;
}